.superheroPosterThumb {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  height: 300px;

  overflow: hidden;
  overflow-x: auto;

  @media screen and (min-width: 768px) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.superheroPosterThumbItem {
  min-width: 95%;
  height: 100%;
}

.superheroPosterImg {
  width: 100%;
  height: 100%;

  background-position: center;
  object-fit: cover;
}

.superheroInfoContent {
  margin-top: 10px;
}

.superheroInfoRealName {
  margin-top: 10px;
  font-size: 18px;
  color: var(--secondary-text-color);
}

.superheroInfoCatchPhraseBox {
  margin-top: 10px;
}

.superheroInfoSuperpowersBox {
  margin-top: 10px;
}

.superheroInfoTitle {
  color: var(--secondary-text-color);
}

.superheroInfoDescriptionBox {
  margin-top: 10px;
}
