.loaderBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.superheroList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }
}

.superheroListLoadButton {
  display: flex;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
