:root {
  /* Colors */
  --accent-color: #0818a9;
  --secondary-accent-color: #0054ca;
  --primary-black-color: #1c1c1c;
  --primary-text-color: #fff;
  --bg-color: #182026;
  --layouts-bg-color: #243138;
  --decorator-box-shadow: 0px 3px 10px -3px #1f309e75;

  /* Sizes */
  --border-radius: 8px;
  --layout-height: 50px;

  /* Indents */
  --padding-container: 15px;

  /* Transitions and animations */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 200ms;
}
