:root {
  /* Colors */
  --accent-color: #44c2fc;
  --secondary-accent-color: #538594;
  --primary-black-color: #1c1c1c;
  --primary-text-color: #fff;
  --secondary-text-color: #ffffff98;
  --bg-color: #182026;
  --layouts-bg-color: #243138;
  --backdrop: rgba(148, 148, 148, 0.5);

  /* Sizes */
  --border-radius: 8px;
  --layout-height: 50px;

  /* Indents */
  --padding-container: 0 15px;

  /* Transitions and animations */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 200ms;
}
